html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-color: #1f1f1f;
  min-width: 1140px;
  letter-spacing: 2px;
}

p {
  line-height: 29px;
  text-align: center;
  font-size: 23px;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  display: flex;
}

ul {
  display: flex;
  flex-direction: column;
}

#header_background {
  background: url(../images/topImg.jpg) no-repeat center -245px;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(40%);
}

#stairs_background {
  background: url(../images/stairsImg.jpg) no-repeat center;
  width: 100%;
  height: 60vh;
  padding-top: 140px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.maven {
  font-family: "Maven Pro", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.toUpperCase {
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.component {
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.component header {
  text-align: center;
  font-weight: bold;
}

.component:not(.header) header {
  font-size: 60px;
  margin-top: 130px;
  margin-bottom: 50px;
}

.header {
  height: 100vh;
}

.header header {
  margin-top: 20vh;
  font-size: 80px;
}

.registry_button {
  background-color: #ffffff;
  border: none;
  color: #1f1f1f;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 5vw;
  outline: none;
}

.registry_button:hover {
  background-color: rgb(245, 245, 245);
}

.info_button {
  padding: 0;
  margin: auto auto 40px auto;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold; /* fix vertically when shrinking */
  width: auto;
  outline: none;
  flex-direction: inherit;
  align-items: center;
}

.info_button i {
  position: relative;
}

.info-subtitle {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-item {
  display: flex;
}

.team-member {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.team-member p {
  text-align: left;
}

.profile_picture {
  background: tomato;
  height: 200px;
  width: 200px;
  margin: 30px 65px;
}

.name {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.location_images {
  display: grid;
}

.map {
  height: 50%;
}

.contact {
  padding-bottom: 100px;
}

.info,
.team,
.location,
.map,
.contact {
  background-color: #1f1f1f;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

#day-plan {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 23px;
}

/* #1f1f1f */
